*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.contents-container{
    max-width: 1352px;
    background-color: white;
    margin: 0px auto;
}
#profile__img{
    text-align: center;
    margin-top: 64px;
    cursor: pointer;
    position: relative;
}
#profile__img img:hover{
   filter: grayscale(70%);
}

#overlay{
    text-align: center;
    position: absolute; 
    top: 60px;
    left: 49.5%;
    height: 19px;
    width: 20px;
    display: block;
}
.name{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #101828;
    font-size: 20px;
    line-height: 30px;
}


.icon,
.icon2{
    position: absolute;
    right: 400px;
    top: -20px;
    width: 40px;
    height: 40px;
    padding: 12.99px 12.31px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon2{
    display: none;
}
.icon img{
    cursor: pointer;
}
.icon img:hover{
   
}
@media (max-width: 768px){
.icon,
.icon2{
    right: 50px;
}
.icon{
    display: none;
}
.icon2{
    display: block;
}
.name{
    font-size: 18px;
    line-height: 28px;
}
}